Cscl3DWS/dialogs.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by TAI (MML) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">	<xs:element name="dialog">		<xs:annotation>			<xs:documentation>root element</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element ref="action"/>				<xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>				<xs:element ref="selection" maxOccurs="unbounded"/>			</xs:sequence>			<xs:attribute name="sound_prefix" type="xs:string"/>		</xs:complexType>	</xs:element>	<xs:element name="selection">		<xs:complexType mixed="true">			<xs:choice maxOccurs="unbounded">				<xs:element name="item">					<xs:complexType>						<xs:sequence>							<xs:element name="before" minOccurs="0">								<xs:complexType mixed="true"/>							</xs:element>							<xs:element ref="action" minOccurs="0"/>						</xs:sequence>						<xs:attributeGroup ref="itemAttrs"/>					</xs:complexType>				</xs:element>			</xs:choice>			<xs:attribute name="id" type="xs:string"/>			<xs:attribute name="auto" type="xs:boolean"/>			<xs:attribute name="role" type="xs:string"/>			<xs:attribute name="characterID" type="xs:string"/>		</xs:complexType>	</xs:element>	<xs:element name="item">		<xs:complexType>			<xs:attributeGroup ref="itemAttrs"/>		</xs:complexType>	</xs:element>	<xs:attributeGroup name="itemAttrs">		<xs:attribute name="id" type="xs:string"/>		<xs:attribute name="text" type="xs:string"/>		<xs:attribute name="role" type="xs:string"/>		<xs:attribute name="hide_on_sel" type="xs:boolean"/>	</xs:attributeGroup>	<xs:element name="action">		<xs:complexType mixed="true">			<xs:attribute name="show_sel" type="xs:string"/>			<xs:attribute name="id" type="xs:string"/>		</xs:complexType>	</xs:element></xs:schema>